// Colores
$clr-claro: #fff;
$clr-oscuro: #000;
$clr-primario: #4cb8b3;
$clr-secundario: #f53756;
$clr-resaltado: #7072ec;
$clr-acento: #752f97;

// Tipografia
$fuente-principal: 'Montserrat', sans-serif;

// Media Querys
$telefono: 480px;
$tablet: 768px;
$desktop: 992;
$desktopXL: 1200px;
